@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

.poke-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-poke{
  display: flex;
  align-items: center;
}
